<div
  class="row mt-4"
  style="justify-content: center"
  *ngIf="products; else loadingTemplate"
>
  <app-product-item
    class="col-lg-4 col-md-6 col-xs-1"
    style="width: 350px"
    *ngFor="let productEl of products; let i = index"
    [product]="productEl"
    [index]="i"
    (showReview)="activeProduct($event)"
  ></app-product-item>

  <app-reviews
    *ngIf="!!reviewsToShow"
    [productName]="product.productName"
    [reviewList]="reviewsToShow"
  ></app-reviews>
</div>

<ng-template #loadingTemplate>
  <div class="loading-container">
    <div class="spinner"></div>
    <p>Loading...</p>
  </div>
</ng-template>
